html{
    /*font-family: 'Open Sans', sans-serif;*/
    font-size: 12px;
    color:#666;
    background: #FFF;
}

body{
    position: relative;
    /*font-family: 'Open Sans', sans-serif;*/
}

a,a:hover{
    color:#666;
}

.body{
    width: 100%;
    position: relative;
    padding: 0;
    overflow: hidden;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.no-m-top{
    margin-top: 0;
}

.no-m-bottom{
    margin-bottom: 0;
}

.no-p-top{
    padding-top: 0;
}

.no-p-bottom{
    padding-bottom: 0;
}

.m-r-15{
    margin-right: 15px;
}

.b-r-4 {
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.website{
    width: 100%;
    min-height: 100%;
    position: relative;
    margin: 0;
}

.padding-left-right-10{
    padding:0 10px;
}

.m-t-15{
    margin-top: 15px;
}

.m-t-30{
    margin-top: 30px;
}

.p-10{
    padding:10px;
}

.color-white{
    color:#aaabae;
}

.bg-color1{
    background: #2B303A;
    color: #fff;
}

.bg-grey-color1 {
    background: #eceded;
}

.bg-grey-color2 {
    background: #cccecf;
}

.bg-grey-color3 {
    background: #fafafa;
}

.no-border {
    border: none !important;
    background: none !important;
}

.no-radius {
    -webkit-border-radius: 0;
    border-radius: 0;
}

.no-shadow {
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* MENU */
.header_admin{
    padding:30px 10px;
    font-size: 16px;
}
.menu_admin{
    color:#aaabae;
    min-height: 100vh;
}

.menu_admin a{
    color:#aaabae;
    text-decoration: none;
}

.menu_admin li{
    list-style: none;
}

.menu_admin .li{
    border: 1px solid rgba(69, 74, 84, 0.4);
    cursor: pointer;
    display: block;
}

.menu_admin .li .title{
    margin: 0;
    padding: 10px 0 10px 10px;
    
}

.menu_admin .li ul{
    margin:10px 0 0 0px;
    padding: 10px 0 0px 10px;
    display: none;
    background:rgba(255,255,255,0.05);
    
}

.menu_admin .li.active ul{
    display: block;
    
}

.menu_admin .li ul li{
    padding:0 0 10px 0;
}

.menu_admin .li .fa{
    width: 10px;
    margin-right: 5px;
    font-size: 12px;
    text-align: center;
}

.mainMiddle table{
    margin-top:30px;
}

/* CONTANT */
#header,#main_content{
    padding-right: 30px;
}

.table-striped .thead .td{
    font-weight: 600;
}

.table .fa{
    font-size: 16px;
}

.listItem.table input{
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.listContent{
    margin-top: ;
}

.listContent .nav > li > a{
    padding:5px 15px;
}

.tab-content .nav-tabs{
    border-bottom: none;    
}

.listContent .tab-content .nav > li > a{
    padding:2px 10px;
}

.tab-content{
    position: relative;
}

.form-group.has-error .form-control{
    border-color: rgba(169, 68, 66, 0.8);
    box-shadow: 0 0 8px rgba(169, 68, 66, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(169, 68, 66, 0.6);
    outline: 0 none;
}

[data-action] a:hover{
    text-decoration: none;
}

[data-status]{
    width: 120px !important;
}

div.mce-fullscreen{
    z-index:1031 !important;
}

.popup-alert.added .fa{
    color:#5cb85c;
}

.popup-alert.error .fa{
    color:#d9534f;
}

.popup-alert.updated .fa{
    color:#337ab7;
}

.popup-alert .fa{
    font-size: 25px;
    margin-right: 5px;
}

.popup-alert{
    position: fixed;
    right: 10px;
    bottom: 10px;
    background:#fff;
    min-width: 100px;
    z-index: 1035;
    padding:10px 20px;
    font-size: 15px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    animation: animationFrames linear 4s forwards;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    -webkit-animation: animationFrames linear 4s forwards;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-animation: animationFrames linear 4s forwards;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -o-animation: animationFrames linear 4s forwards;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -ms-animation: animationFrames linear 4s forwards;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
}

@keyframes animationFrames {
    0% {
        opacity: 0;
        display: block !important;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@-moz-keyframes animationFrames {
    0% {
        opacity: 0;
        display: block !important;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@-webkit-keyframes animationFrames {
    0% {
        opacity: 0;
        display: block !important;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@-o-keyframes animationFrames {
    0% {
        opacity: 0;
        display: block !important;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@-ms-keyframes animationFrames {
    0% {
        opacity: 0;
        display: block !important;
    }
    20% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

#fileupload .preview img,#fileupload .preview canvas{
    max-height: 50px;
    width: auto;
}

.v-center {
    vertical-align: middle;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    text-align: left;
    justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    -webkit-justify-content: center;
}

.page-header small,
.page-header{
    font-size: 18px;
    margin-bottom:5px;
    color: #666;
}

.page-header{
    font-size: 20px;
    font-weight: bold;
}

#imagePreview {
    width: auto;
    height: 120px;
}

input.require{
    border:1px solid red
}

.sortTable{
    cursor: pointer;
}
.menu-left-admin li.selected{
    background: #444;
}
.menu-left-admin li.selected a{
    color:#fff;
}
.menu-left-admin li{
    float: none;
    display: block;
}